<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="com.xamplify.automation.Login"/> 
    <class name="com.xamplify.automation.UploadAssetFile"/> 
<!--         <class name="com.xamplify.automation.UploadAssetVideo"/> -->
<!--                 <class name="com.xamplify.automation.DesignPDF"/> -->

<!--             <class name="com.xamplify.automation.ManageMyAssets"/> -->
        
    
    
   
     <!--<class name="com.xamplify.automation.LaunchEmailCampaign"/> -->
<!--      <class name="com.xamplify.automation.LaunchVideoCampaign"/> 
 -->   
 
<!--  <class name="com.xamplify.automation.LaunchEventCampaign"/> 
  <class name="com.xamplify.automation.SaveEventCampaign"/> -->
    

 <!--    <class name="com.xamplify.automation.ScheduleEventCampaign"/> -->
  <class name="com.xamplify.automation.EventToCampagin"/> -->
   

   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
